

.Home_Crowdfunding_Platform142{
    border-bottom: 3px solid #2453b6;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px !important;
    padding-bottom: 170px;
    position: relative;
    background-image: url('../../../../Assets/BLockChain/Crowd_Plateform/banner-img.jpg') !important;
}