

.Home_Decentralized_Exchange{
    background-image: url('../../../../Assets/Exchange/Decentralized_Exchange/banner_bg.jpg');
    border-bottom: 3px solid #2453b6;
    background-position: 70% 13%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
   
    padding-top: 240px !important;
    padding-bottom: 160px;
    position: relative;
    height: auto;
}