

.feature-flex {
    min-height: 165px;
}
.feature-flex {
    position: relative;
    margin: 30px 0;
    /* -webkit-transition-duration: .3s; */
    transition-duration: .3s;
}

.feature-flex-icon {
    float: left;
    width: 25%;
    margin-top: 20px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.feature-flex-icon i {
    text-align: center;
}
.feature-flex-icon i {
    color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #2453b6;
    padding: 28.5px 29px;
    font-size: 30px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.feature-flex-content {
    margin-left: 110px;
}

.text_heading_launch{
    
    color: #fff;
    text-align: left;
}

.Text_P_launchhere{
    color: #97afd5 !important;
    text-align: left;
}


.services-icon {
    height: 50px;
}
.box_Heaighthere {
    min-height: 294px;
}





/* ------------------------------------------- */


.feature-flex-square456 {
    position: relative;
    border-radius: 5px;
    margin: 30px 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.feature-flex-square-icon456 {
    float: left;
    width: 25%;
    margin-top: 5px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.feature-flex-square-icon456 i {
    color: #2453b6;
    border-radius: 10px;
    padding: 10px;
    font-size: 55px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}



.feature-flex-square-content {
    float: left;
    width: 75%;
    padding-left: 10px;
}



.icon-diamond:before {
    content: "\e925";
}