



.section-heading.center-holder {
    position: relative;
}

.section-heading {
    margin-bottom: 10px;
}
.center-holder {
    text-align: center;
}

.section-heading p {
    /* font-size: 15px;
    font-weight: 400;
    color: #6d7788 !important;
    line-height: 160%;
    padding-top: 15px;
    margin-bottom: 0; */
}
.card {
    border-radius: 8px;
    background-color: #fff;
    /* padding: 32px; */
    /* margin-top: 24px; */
    /* box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%), 0 12px 90px 0 rgb(103 151 255 / 11%); */
    position: relative;
    display: inline-block;
    box-shadow: 0 2px 2px rgb(204 197 185 / 0%);
}

.card {
    /* border-radius: 6px; */
    box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
    background-color: #fff;
    color: #252422;
    padding: 10px 0;
    margin-bottom: 20px;
    /* position: relative; */
    z-index: 1;
}

.features-benifit {
    /* padding: 30px; */
    text-align: center;
    width: 100%;
}




.column.centered.blurb2 {
    border-radius: 5px;
    min-height: 380px !important;
    margin-top: 25px;
    padding: 10px;
    width: auto;
    background-color: #fff;


    box-shadow: 2px 2px 20px 0 rgb(50 50 50 / 21%);
}
.tan {
   
}


.icon-container {
    box-shadow: 0 4px 24px 0 rgb(103 151 255 / 10%), 0 12px 64px 0 rgb(103 151 255 / 10%);
    border-radius: 100px;
    padding: 15px;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin-bottom: 30px;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.features-benifit h3 {
    font-size: 10px !important;
    margin-bottom: 15px;
}


.features-benifit p {
    font-size: 14px;
    color: #666;
    line-height: 1.7;
    margin-bottom: 0;
}
h1, h2, h3, h4 {
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .card{
        height: auto !important;
    }
    
}