


@media screen and (min-width: 992px){
.mob-left {
    position: relative;
    right: -50%;
}
}
.section-heading {
    margin-bottom: 10px;
}

.sto-mark-gen ul {
    margin-top: 30px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

.sto-mark-gen li {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #97afd5;
    background: url('../../../../Assets/NFT/check-mark.png');
    /* background-position-x: 0; */
    /* background-position-y: 0; */
    /* background-repeat: repeat; */
    /* background-size: auto auto; */
    /* background-repeat: repeat; */
    /* background-size: auto auto; */
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
    padding-top: 5px;
    font-size: 15px;
    line-height: 20px;
    background-position: 0 5px;
    text-align: left;
}

li {
    list-style-type: none;
}

.mob-right{
    margin-top: 3rem;
}

@media screen and (min-width: 992px){
.mob-right {
    position: relative;
    left: -50%;
}
}

@media (max-width: 768px){
.respnfther  {
    width: 100%;
}
}