



.work_flow .flow_diag:first-child {
    padding-top: 0;
}

.work_flow .flow_diag {
    padding: 28px 60px;
    position: relative;
}
.work_flow .flow_diag:before, .work_flow .flow_diag:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.work_flow .flow_diag:first-child .border {
    border-top: none !important;
}
.work_flow .flow_diag:first-child .flow_diag-icon, .work_flow .flow_diag:last-child .flow_diag-icon {
    box-sizing: content-box;
    margin: 0;
    top: 0;
    left: -36px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #275ac4;
}

.work_flow .flow_diag-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background: #2453b6;
    box-sizing: border-box;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px transparent;
    text-align: center;
    margin: auto 0;
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 0;
    left: -34px;
    bottom: 0;
    z-index: 2;
}
.work_flow .flow_diag:first-child .flow_diag-content {
    padding-top: 10px;
}

.work_flow .flow_diag-content {
    width: 50%;
}
.work_flow .title {
    font-size: 18px;
    color: #000;
    margin-top: 0;
    font-weight: normal;
}
.work_flow .flow_diag:first-child .border {
    border-top: none !important;
}

.work_flow .border {
    width: 50%;
    border-top: 2px solid #275ac4;
    border-bottom: 2px solid #275ac4;
 
    position: absolute;
    border-right: none !important;

    

    top: 0;
    bottom: -2px;
    left: 0;
    z-index: 1;
}
.flow_diag:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.work_flow .flow_diag:nth-child(2n) .flow_diag-icon {
    left: auto;
    right: -34px;
}

.work_flow .flow_diag:nth-child(2n) .flow_diag-content {
    float: right;
    text-align: right;
}

.work_flow .flow_diag-content {
    width: 50%;
}
.work_flow .flow_diag:nth-child(2n) .border {
    border-left: none !important;
    border-right: 2px solid #275ac4;
    border-radius: 0 6px 6px 0;
    left: 50%;
}
.work_flow .flow_diag {
    padding: 28px 60px;
    position: relative;
}
.work_flow .flow_diag-content {
    width: 50%;
}
.work_flow .flow_diag:last-child {
    padding-bottom: 0;
}

.work_flow .flow_diag:last-child .border {
    border-bottom: none !important;
}




@media screen and (max-width:990px) {
    .work_flow .flow_diag {
        padding: 40px 60px;
        margin: 0 0 0 35px;
    }
    .work_flow .flow_diag-content {
        width: 100%;
    }
    .work_flow .flow_diag:nth-child(2n) {
        margin: 0 35px 0 0;
    }
    .work_flow .flow_diag {
        padding: 40px 60px;
        margin: 0 0 0 35px;
    }
    
}

.img_Samat_Contract_here{
    height: 100% !important;
    margin-top: 0rem !important;
}