

.swiper_slide_safeMars{
    height: auto;
    padding-top: 250px !important;
    padding-bottom: 200px;
    position: relative;
    background-image: url('../../../../Assets/DEFI/Safe_Mars/banner.jpg');
    background-repeat: no-repeat;
   
background-size: cover;
position: relative;
}



.bx{
    background: white;
    padding: 4%;
    min-height: 319px;
    text-align: center;
    border-radius: 9px;
    height: 370px !important;
}

@media screen and (max-width:768px) {
    .bx{
   
        height: auto !important;
    }
    .card_Widthhere{
        width: 105% !important;
    }
}