



ul.feat_ico li {
    border-bottom: 1px solid #fff;
    margin-bottom: 14px;
    padding-bottom: 10px;
    color: #444;
    position: relative;
    padding-left: 45px;
}
ul.feat_ico li span {
    width: 30px;
    height: 30px;
    background: #2453b6;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    position: absolute;
    left: 0;
}