


.navbgher12{
    background-color: #0f1932!important;
        /* padding-top: 1rem; */
        /* padding-bottom: -1rem; */
    /* padding: 10px 40px 5px 40px; */
    

}
.Nav_text_link{
    font-size: 15px;
    margin-left: 0.5rem;
}
.First_Col{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: rem;
    
}
.seond_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.9rem;
}
.name_first{
    font-weight: 700;
    font-size:27px;
 
}
.name_second{
   /* font-size: 20px; */
   letter-spacing:5.5px;
   margin-left: 5px;
   
  
  
  
}



.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
   
    /* justify-content: space-between; */
}

.TextdecorationNFT145{
    text-decoration: none !important;
}

.navbtn_and_Toggle{
  
}


.navbar-brand{
     line-height: 10px !important;
    color: #fff !important;
  
}

.textNavher_white {
    color: #fff !important;
    margin-top: -2rem;

}
#collasible-nav-dropdown{
    color: #fff !important;
    font-size: 18px;

}
.bnt_nav_color{
    background-color: #fff;
    color: #000;
    /* margin-left: 20%; */
    margin-top: -2rem;
}


@media (min-width:510px) and (max-width:992px) {
    /* .bnt_nav_color{
        background-color: #fff;
        color: #000;
        margin-left: 50%;
        margin-top: -2rem;
    } */
    
}
@media screen and (max-width: 328px){
.bnt_nav_color{
    background-color: #fff;
    color: #000;
    margin-left: 0%;
    margin-top: -2rem;
}
}

@media screen and (max-width: 800px){
    /* .navbar-brand{
       
        margin-left: 0rem;
    } */
    .dropdown-item{
       font-size: 14px !important;
    }

    .textNavher_white{
        margin-left: auto !important;
    }

    .nav_link_resp{
        margin-top: 2rem;
    }
}

@media (min-width:770px) and (max-width:1050px) {
    .bnt_nav_color{
        background-color: #fff;
        color: #000;
        margin-left: 70%;
        margin-top: -2rem;
    }
}