

.our-services ul.expert-whitelabel-list li:nth-child(1), .our-services ul.expert-whitelabel-list li:nth-child(2) {
    width: 48%;
}

.our-services ul.expert-whitelabel-list li {
    width: 31%;
    border: none;
    margin: 50px 8px 8px 8px;
    /* padding: 8px; */
    background: #fff;
    border-bottom: 3px solid #f42f54;
    border-radius: 20px;
    padding: 40px 10px;
}
.our-services ul.expert-whitelabel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.expert-whitelabel-list {
    padding: 0px;
    padding-top: 59px;
    overflow: hidden;
}
.expert-whitelabel-list li .icon1245 {
    background: #fff;
    width: 90px;
    height: 90px;
    margin: -70px auto 20px auto;
    border-radius: 50%;
    padding: 15px;
    border: 3px solid #f42f54;
}
.expert-whitelabel-list li .icon1245 img {
    width: 100%;
}
.our-services ul.expert-whitelabel-list li a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none !important
}
.our-services ul.expert-whitelabel-list li p {
    color: #000;
};



@media screen and (max-width:768px) {
    .our-services ul.expert-whitelabel-list li:nth-child(1), .our-services ul.expert-whitelabel-list li:nth-child(2) {
        width: 100% !important;
    }

    .our-services ul.expert-whitelabel-list li{
        width: 100% !important;
    }
}





.benifit-exchange-software ul li {
    font-size: 16px;
    padding: 5px 0px;
    color: #97afd5;

    padding-left: 20px;
    position: relative;
}
.benifit-exchange-software ul li:before {
    content: "*";
    color: #fff;
    left: 0px;
    position: absolute;
    top: 6px;
    font-size: 20px;
}

/* -------------------------------------------------------------- */

.contr_sec.contr_secrrr:after {
    content: '';
    width: 47%;
    right: 0;
    background: url('../../../../Assets/DEFI/DEFI_Develoment/banner-bg2.jpg');
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left -200px;
}