
.swiper_slide_DoubleWay{
    height: auto;
    padding-top: 220px !important;
    padding-bottom: 50px;
    background-position: center top;
    background-image: url('../../../../Assets/MLM_Clone/Double_Way/enhance-your-financial-power-using-our-doubleway-mlm-clone-script.jpg');
    position: relative;
    
    background-position: center;
    background-size: cover;
}